apiVersion: v1
kind: ConfigMap
metadata:
  name: api-config
data:
  APP_NAME: "devops-api-service"
  APP_ENV: "development" 
---
apiVersion: v1
kind: Secret
metadata:
  name: api-secrets
type: Opaque
stringData:
  API_KEY: "super-secret-demo-key"
