name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run Go tests
        working-directory: ./api-service
        run: go test ./...

      - name: Build Go binary
        working-directory: ./api-service
        run: go build -v ./...

  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        working-directory: ./api-service
        run: docker build -t api-service:ci .
